.box-form {
  width: 200px;
  height: 200px;
  color: white;
  border: 5px solid black;
  background-color: rebeccapurple;
  /* display: inline-block;
  padding-top: 60px;  */
}

.cus-img-size {
  height: 150px !important;
}

.activity-container {
  height: 150px;
}

.ninja-logo {
  height: 200px;
  width: 200px;
}

p {
  margin-bottom: .2rem !important; 
}